.home-container {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/plantain.png'); /* relative path to image */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* text color on top of image */
  text-align: center;
}
.order-button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ffcc00;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s;
}

.order-button:hover {
  background-color: #ff9900;
}
