.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffcc33;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  font-weight: bold;
  color: #333;
}

.logo img {
  height: 50px;
}
